@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
	background: #b95a53;
	color: #f0ebe3;
}

:where(h2, h3, h4, h5, h6) {
	.icon-link {
		position: relative;

		&::before {
			content: '#';
			color: #b95a53;
			position: absolute;
			left: -2ch;
			top: 0;
			opacity: 0;
			line-height: 1.2;
			text-decoration: none;
		}
	}

	&:hover .icon-link::before {
		opacity: 1;
	}
}
